.container
  position: relative
  max-width: 1300px
  width: 100%
  margin: 0 auto
  padding: 0 20px
  &_height
    min-height: 100%



.l
  font-size: 0
  margin: 0 -25px
  +r(1300)
    margin: 0 -20px
  +r(960)
    margin: 0
  &__col
    display: inline-block
    vertical-align: top
    max-width: calc(33.3% - 50px)
    width: 100%
    margin: 0 25px
    +r(1200)
      max-width: calc(33.3% - 40px)
      margin: 0 20px
    +r(960)
      display: block
      max-width: 400px
      width: 100%
      margin: 0 auto 20px auto
