---
title: Dashboard page
breadcrumbs: ['Dashboard']
---
{% extends "layouts/_layout.html" %}

{% block content %}


  <div class="container">
    <div class="catalog">
      <div class="l ">
        <div class="l__col">
          <!-- BEGIN catalog item -->
          <div class="catalog__item">
            <div class="catalog__line catalog__head">
              <div class="catalog__title title">Give feedback</div>
              <div class="catalog__pic">
                <img src="img/feedback.svg" alt="">
              </div>
            </div>
            <div class="catalog__body">
              <div class="catalog__text h4">
                Answer questions from your organisation. Feedback helps to evaluate and refine workplace initiatives.
              </div>
            </div>
            <div class="catalog__line catalog__line_mod  catalog__footer">
              <a href="#" class="link">
                <span class="link__text">Start</span>
                <span class="link__pic">{{mixins.icon('arr')}}</span>
              </a>
            </div>
          </div>
          <!-- END catalog item -->

          <div class="title">Feedback history</div>

          <!-- BEGIN table -->
          <table class="table">
            <thead class="table__thead">
              <tr>
                <td>Description</td>
                <td>When</td>
                <td></td>
              </tr>
            </thead>
            <tbody class="table__tbody">
              <tr>
                <td colspan="3"><div class="table__text">You have not submitted any reports</div> </td>
              </tr>
            </tbody>
          </table>
          <!-- END table -->

        </div>
        <div class="l__col">
          <!-- BEGIN catalog item -->
          <div class="catalog__item">
            <div class="catalog__line catalog__head">
              <div class="catalog__title title">Report something</div>
              <div class="catalog__pic">
                <img src="img/volume.svg" alt="">
              </div>
            </div>
            <div class="catalog__body">
              <div class="catalog__text h4">
                If something has made you happy, sad, uncomfortable or proud, then report it to someone inside or outside your
              </div>
            </div>
            <div class="catalog__line catalog__footer">
              <a href="#" class="btn btn_black">
                <span>3</span> new questions
              </a>
              <a href="#" class="link">
                <span class="link__text">Start</span>
                <span class="link__pic">{{mixins.icon('arr')}}</span>
              </a>
            </div>
          </div>
          <!-- END catalog item -->

          <div class="title">Report history</div>

          <!-- BEGIN table -->
          <table class="table">
            <thead class="table__thead">
              <tr>
                <td>Status</td>
                <td>Description</td>
                <td>When</td>
                <td></td>
              </tr>
            </thead>
            <tbody class="table__tbody">
              <tr>
                <td><div class="status is-active"></div></td>
                <td><div class="table__text">Re: I have a suggestion for the new team building program</div></td>
                <td><div class="table__nowrap">Today</div></td>
                <td><a class="table__link" href="#">View</a></td>
              </tr>
              <tr >
                <td><div class="status is-back"></div></td>
                <td><div class="table__text ">The plants in the reception are dying...</div></td>
                <td><div class="table__nowrap">2d ago</div></td>
                <td><a class="table__link" href="#">View</a></td>
              </tr>
              <tr>
                <td><div class="status is-back">{{mixins.icon('arr-back')}}</div></td>
                <td><div class="table__text">Ergonimic keyboards</div></td>
                <td><div class="table__nowrap">1w ago</div></td>
                <td><a class="table__link" href="#">View</a></td>
              </tr>
              <tr>
                <td colspan="3"><a href="#" class="btn btn_blue">View all</a></td>
              </tr>
            </tbody>
          </table>
          <!-- END table -->
        </div>
        <div class="l__col">
          <!-- BEGIN catalog item -->
          <div class="catalog__item">
            <div class="catalog__line catalog__head">
              <div class="catalog__title title">Make a suggestion</div>
              <div class="catalog__pic">
                <img src="img/volume.svg" alt="">
              </div>
            </div>
            <div class="catalog__body">
              <div class="catalog__text h4">
                If something has made you happy, sad, uncomfortable or proud, then report it to someone inside or outside your
              </div>
            </div>
            <div class="catalog__line catalog__line_mod catalog__footer">
              <a href="#" class="link">
                <span class="link__text">Start</span>
                <span class="link__pic">{{mixins.icon('arr')}}</span>
              </a>
            </div>
          </div>
          <!-- END catalog item -->

          <div class="title">Suggestion history</div>

          <!-- BEGIN table -->
          <table class="table">
            <thead class="table__thead">
              <tr>
                <td>Status</td>
                <td>Description</td>
                <td>When</td>
                <td></td>
              </tr>
            </thead>
            <tbody class="table__tbody">
              <tr>
                <td><div class="status is-active"></div></td>
                <td><div class="table__text">Re: I have a suggestion for the new team building program</div></td>
                <td><div class="table__nowrap">Today</div></td>
                <td><a class="table__link" href="#">View</a></td>
              </tr>
              <tr>
                <td><div class="status is-back"></div></td>
                <td><div class="table__text">The plants in the reception  are dying...</div></td>
                <td><div class="table__nowrap">2d ago</div></td>
                <td><a class="table__link" href="#">View</a></td>
              </tr>
              <tr>
                <td><div class="status is-back"></div></td>
                <td><div class="table__text">Ergonimic keyboards</div></td>
                <td><div class="table__nowrap">1w ago</div></td>
                <td><a class="table__link" href="#">View</a></td>
              </tr>
              <tr>
                <td colspan="4"><a href="#" class="btn btn_blue">View all</a></td>
              </tr>
            </tbody>
          </table>

          <!-- END table -->
        </div>
      </div>
    </div>
  </div>

{% endblock %}
