.breadcrumbs
  $this: &
  background: $black
  +sm
    display: none
  &__list
    padding: 8px 0
  &__item
    display: inline-block
    vertical-align: middle
    &:not(:last-child)
      &:after
        content: '>'
        display: inline-block
        vertical-align: middle
        font-size: 25px
        color: $white
    &:hover:not(:last-child)
      #{$this}__link
        opacity: .7
    &:last-child
      #{$this}__link
        pointer-events: none
  &__link
    color: $gray-light
    +tr(opacity .3s)
