.btn
  display: inline-block
  vertical-align: middle
  font-size: 16px
  padding: 6px 8px 4px 16px
  color: $white
  text-align: center
  +raj-m
  +tr(opacity .3s)
  +md
    font-size: 14px
  &:hover
    opacity: .8
  &_black
    background: $black
  &_blue
    background: $blue
  &_sm
    padding: 2px 5px
