.btn
  display: inline-block
  vertical-align: middle
  font-size: 16px
  padding: 6px 8px 4px 16px
  color: $white
  +raj-m
  +tr(opacity .3s)
  &:hover
    opacity: .8
  &_black
    background: $black
  &_blue
    background: $blue
