.catalog
  margin-top: 55px
  margin-bottom: 50px
  &__item
    padding: 25px 25px 17px 25px
    background: $gray
    margin-bottom: 35px
  &__line
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
  &__line_mod
    justify-content: flex-end
  &__head
    margin-bottom: 20px
  &__title
    color: $black
    max-width: 300px
  &__text
    max-width: 80%
    margin-bottom: 20px
