.human
  &__ava
    float: left
    margin-right: 16px
    img
      width: 52px
      height: 52px
      overflow: hidden
      border-radius: 50%
      object-fit: cover
  &__content
    overflow: hidden
  &__caption
    font-size: 15px
    color: $black2
    +raj-m
  &__meta
    font-size: 14px
    color: $black2
    +raj-r
