.icon-arr-full {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-arr-sm {
  width: 2.43em;
  height: 1em;
  fill: none;
}
.icon-arr {
  width: 0.29em;
  height: 1em;
  fill: none;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: #121313;
}
.icon-leaf {
  width: 0.78em;
  height: 1em;
  fill: #000;
}
