.icon-arr-full {
  width: 1.33em;
  height: 1em;
  fill: none;
}
.icon-arr-sm {
  width: 1.71em;
  height: 1em;
  fill: none;
}
.icon-arr {
  width: 0.29em;
  height: 1em;
  fill: none;
}
.icon-band {
  width: 1.03em;
  height: 1em;
  fill: none;
}
.icon-check {
  width: 1.22em;
  height: 1em;
  fill: none;
}
.icon-leaf {
  width: 1em;
  height: 1em;
  fill: #000;
}
